---
layout: page
title: Search
page_title: Search
permalink: /search/
comments: false
---
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}!</h1>
                    <a class="btn zoombtn" href="{{ site.url }}/">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                {{ content }}
            </div>
        </div>

        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    <!--검색기능-->
    <div>
        <script async src="https://cse.google.com/cse.js?cx=017977696669120502543:ahoay0ikzvf"></script>
        <div class="gcse-search"></div>
    </div>
</body>
</html>
