<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
    <button class="dl-trigger">Open Menu</button>
    <ul class="dl-menu">
        <li><a href="{{ site.url }}/"><i class="fa fa-home" style="color:#808080"></i>&nbsp;&nbsp;&nbsp;Main</a></li>
        <li>
            <a href="#"><i class="fa fa-user" style="color:#808080"></i>&nbsp;&nbsp;&nbsp;About</a>
            <ul class="dl-submenu">
                <li>
                    <img src="{{ site.url }}/{{ site.logo }}" alt="{{ site.title }} photo" class="author-photo">
                    <h4>{{ site.title }}</h4>
                    <p>{{ site.description }}</p>
                </li>
                <li><a href="{{ site.url }}/about/"><span class="btn btn-danger">About me</span></a></li>
                {% if site.email %}
                <li>
                    <a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i> Email</a>
                </li>{% endif %}
                {% if site.linkedin %}
                <li>
                    <a href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-linkedin-square"></i> LinkedIn</a>
                </li>{% endif %}
                {% if site.instagram %}
                <li>
                    <a href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i> Instagram</a>
                </li>{% endif %}
                {% if site.github-url %}
                <li>
                    <a href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-github"></i> Github</a>
                </li>{% endif %}
                {% if site.stackoverflow %}
                <li>
                    <a href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-stack-overflow"></i> StackOverflow</a>
                </li>{% endif %}
                {% if site.steam %}
                <li>
                    <a href="http://steamcommunity.com/id/{{ site.steam }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-steam-square"></i> Steam</a>
                </li>{% endif %}
                {% if site.youtube %}
                <li>
                    <a href="https://youtube.com/user/{{ site.youtube }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube-square"></i> Youtube</a>
                </li>{% endif %}
                {% if site.youtube-channel %}
                <li>
                    <a href="https://youtube.com/channel/{{ site.youtube-channel }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube"></i> Youtube</a>
                </li>{% endif %}
            </ul><!-- /.dl-submenu -->
        </li>
        <li>
            <a href="#"><i class="fa fa-clone" style="color:#808080"></i>&nbsp;&nbsp;Posts</a>
            <ul class="dl-submenu">
                <li>
                    <a href="#"><i class="fa fa-tags" style="color:#808080"></i>&nbsp;&nbsp;category/tag</a>
                    <ul class="dl-submenu">
                        <li><a href="{{ site.url }}/categories/">category</a></li><!-- 카테고리 부분-->
                        <li><a href="{{ site.url }}/tags/">tag</a></li><!-- 태그 부분-->
                    </ul>
                </li>
                <li><a href="{{ site.url }}/posts/"><i class="fa fa-globe" style="color:#808080"></i>&nbsp;&nbsp;All</a></li>
            </ul>
        </li>
        <li><a href="{{ site.url }}/search/"><i class="fa fa-search" style="color:#808080;"></i>&nbsp;&nbsp;Search</a></li>
        {% for link in site.data.navigation %}
        {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
        {% endif %}
        <!--<li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener noreferrer" {% endif %}>{{ link.title }}</a></li>-->
        {% endfor %}
    </ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->

